<footer class="footer mt-5 ">
    <div class="container-fluid">
        <div class="row footer_panel pt-5">
            <div class="footer_overlay"></div>
            <div class="col-12 col-md-3 col-sm-12">
                @*<img src="~/Asset/admin/img/unnamed.png" alt="" class="w-100 h-50">*@
                <h2>TRUNG TAM BDVH-GIA SƯ KHOA HỌC TRẢI NGHIỆM</h2>
            </div>
            <div class=""></div>
            <div class="col-10 col-md-2 col-sm-4 ml-2">
                <table>
                    <h4>Liên Kết</h4>
                    <tr>
                        <td>
                            <a href="#GioiThieU"><p>Giới thiệu</p>  </a>

                        </td>
                    </tr>
                    <tr><td> </td></tr>
                    <tr>
                        <td>
                            <a href="#MonHoC"><p>Môn học</p></a>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#MohinH"><p>Mô hình</p></a>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#CSGHP"><p>Chính sách giảm học phí</p></a>

                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-12 col-md-6 col-sm-6 ml-2">
                <table>
                    <h4>Liên Hệ</h4>
                    <tr>
                        <td>
                            <p>
                                <i class="fa fa-address-book mr-2"></i> 12 Trịnh Đình Thảo, phường Hòa Thạnh, quận Tân Phú, TPHCM

                                (Lầu 1, phòng 107, trường Cao Đẳng Công Nghệ Thông Tin)
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><i class="fa fa-envelope mr-2"></i> info@khoahoctrainghiem.com</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><i class="fa fa-phone mr-2"></i>033.496.0752</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><i class="fa fa-phone mr-2"></i>033.496.0752</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row Design pt-2">
            <div class="col-12 col-md-12 col-sm-12">

                <p>© 2019 Informing. All Rights Reserved | Design by 3Team | <i class="fa fa-phone"></i> <i class="fab fa-facebook"></i></p>

            </div>

        </div>
    </div>

</footer>
