USE [QL_TRUNGTAM]
GO
/****** Object:  Table [dbo].[BANG_GIA_HOC_PHI]    Script Date: 8/29/2019 5:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANG_GIA_HOC_PHI](
	[NGAY_AP_DUNG] [datetime] NOT NULL,
	[MA_KHOI] [uniqueidentifier] NOT NULL,
	[MA_MON] [uniqueidentifier] NOT NULL,
	[MA_LOAI] [uniqueidentifier] NOT NULL,
	[DON_GIA] [money] NOT NULL,
	[SO_BUOI] [float] NOT NULL,
 CONSTRAINT [PK_BANG_GIA_HOC_PHI] PRIMARY KEY CLUSTERED 
(
	[NGAY_AP_DUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BANG_LUONG]    Script Date: 8/29/2019 5:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANG_LUONG](
	[MA_LOAI_LUONG] [uniqueidentifier] NOT NULL,
	[TEN_LOAI] [nvarchar](50) NULL,
	[SO_LUONG_MIN] [float] NULL,
	[SO_LUONG_MAX] [float] NULL,
	[DON_GIA] [float] NULL,
 CONSTRAINT [PK_BANG_LUONG] PRIMARY KEY CLUSTERED 
(
	[MA_LOAI_LUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BUOI_HOC]    Script Date: 8/29/2019 5:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUOI_HOC](
	[MA_BUOI] [uniqueidentifier] NOT NULL,
	[STT_BUOI] [int] NULL,
	[THOI_GIAN] [datetime] NOT NULL,
	[TINH_TRANG] [bit] NULL,
	[MA_GV] [nchar](10) NULL,
	[MA_LUONG] [uniqueidentifier] NULL,
	[MA_LOP] [uniqueidentifier] NULL,
 CONSTRAINT [PK_BUOI_HOC] PRIMARY KEY CLUSTERED 
(
	[MA_BUOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONG_NO]    Script Date: 8/29/2019 5:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONG_NO](
	[MA_CONG_NO] [uniqueidentifier] NOT NULL,
	[TEN_CONG_NO] [nvarchar](50) NULL,
	[TONG_TIEN] [money] NULL,
	[NGAY_THANH_TOAN] [datetime] NULL,
	[NGAY_LAP_CONG_NO] [datetime] NULL,
	[MA_HS] [nchar](10) NOT NULL,
	[MA_KM] [uniqueidentifier] NULL,
	[TRANG_THAI] [bit] NOT NULL,
 CONSTRAINT [PK_CONG_NO] PRIMARY KEY CLUSTERED 
(
	[MA_CONG_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_BUOIHOC]    Script Date: 8/29/2019 5:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_BUOIHOC](
	[MA_BUOI] [uniqueidentifier] NOT NULL,
	[MA_HS] [nchar](10) NOT NULL,
	[DIEM_DANH_HS] [bit] NULL,
	[NHAN_XET_GV] [nvarchar](200) NULL,
	[BAI_TAP_VN] [nvarchar](50) NULL,
	[LI_DO_VANG] [nvarchar](100) NULL,
 CONSTRAINT [PK_CT_BUOIHOC] PRIMARY KEY CLUSTERED 
(
	[MA_BUOI] ASC,
	[MA_HS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_CONG_NO]    Script Date: 8/29/2019 5:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_CONG_NO](
	[MA_CONG_NO] [uniqueidentifier] NOT NULL,
	[MA_LOP] [uniqueidentifier] NOT NULL,
	[THANH_TIEN] [money] NULL,
 CONSTRAINT [PK_CT_CONG_NO] PRIMARY KEY CLUSTERED 
(
	[MA_CONG_NO] ASC,
	[MA_LOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_HOADON]    Script Date: 8/29/2019 5:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOADON](
	[MA_HD] [uniqueidentifier] NOT NULL,
	[MA_BUOI] [uniqueidentifier] NOT NULL,
	[LUONG] [float] NULL,
 CONSTRAINT [PK_CT_HOADON] PRIMARY KEY CLUSTERED 
(
	[MA_HD] ASC,
	[MA_BUOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_HOADON_NGOAIGIO]    Script Date: 8/29/2019 5:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOADON_NGOAIGIO](
	[MA_HD] [uniqueidentifier] NOT NULL,
	[MA_NGOAI_GIO] [uniqueidentifier] NOT NULL,
	[LUONG] [float] NULL,
 CONSTRAINT [PK_CT_HOADON_NGOAIGIO] PRIMARY KEY CLUSTERED 
(
	[MA_HD] ASC,
	[MA_NGOAI_GIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_LOP_HOC]    Script Date: 8/29/2019 5:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_LOP_HOC](
	[MA_LOP] [uniqueidentifier] NOT NULL,
	[MA_HS] [nchar](10) NOT NULL,
	[NGAY_VAO_HOC] [date] NULL,
 CONSTRAINT [PK_CT_LOP] PRIMARY KEY CLUSTERED 
(
	[MA_LOP] ASC,
	[MA_HS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GHI_DANH]    Script Date: 8/29/2019 5:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GHI_DANH](
	[MA_TB] [uniqueidentifier] NOT NULL,
	[HO_TEN] [nvarchar](50) NULL,
	[NG_SINH] [datetime] NULL,
	[SDT] [varchar](15) NULL,
	[DIA_CHI] [nvarchar](100) NULL,
	[TRUONG] [nvarchar](50) NULL,
	[NOI_DUNG] [nvarchar](200) NULL,
	[TINH_TRANG] [bit] NULL,
 CONSTRAINT [PK_GHI_DANH] PRIMARY KEY CLUSTERED 
(
	[MA_TB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIAO_VIEN]    Script Date: 8/29/2019 5:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIAO_VIEN](
	[MA_GV] [nchar](10) NOT NULL,
	[HO_TEN] [nvarchar](50) NOT NULL,
	[SDT] [nchar](15) NOT NULL,
	[GIOI_TINH] [nvarchar](10) NULL,
	[EMAIL] [varchar](max) NULL,
	[NG_SINH] [date] NULL,
 CONSTRAINT [PK_giao_vien] PRIMARY KEY CLUSTERED 
(
	[MA_GV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 8/29/2019 5:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MA_HD] [uniqueidentifier] NOT NULL,
	[TEN_HD] [nvarchar](30) NOT NULL,
	[MA_GV] [nchar](10) NOT NULL,
	[NGAY_THANH_TOAN] [datetime] NOT NULL,
	[TONG_TIEN] [float] NULL,
 CONSTRAINT [PK_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[MA_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOC_SINH]    Script Date: 8/29/2019 5:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOC_SINH](
	[MA_HS] [nchar](10) NOT NULL,
	[HO_TEN] [nvarchar](50) NOT NULL,
	[NG_SINH] [datetime] NOT NULL,
	[GIOI_TINH] [nvarchar](10) NULL,
	[KHOI] [int] NULL,
	[TRUONG] [nvarchar](50) NULL,
	[SDT] [nchar](15) NULL,
	[DIA_CHI] [nvarchar](100) NULL,
	[PHU_HUYNH] [nvarchar](50) NULL,
 CONSTRAINT [PK_HOC_SINH] PRIMARY KEY CLUSTERED 
(
	[MA_HS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHOI_LOP]    Script Date: 8/29/2019 5:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOI_LOP](
	[MA_KHOI] [uniqueidentifier] NOT NULL,
	[TEN_KHOI] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHOI_LOP] PRIMARY KEY CLUSTERED 
(
	[MA_KHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHUYEN_MAI]    Script Date: 8/29/2019 5:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYEN_MAI](
	[MA_KM] [uniqueidentifier] NOT NULL,
	[TEN_KM] [nvarchar](50) NOT NULL,
	[SO_MON_DK] [int] NULL,
	[TIEN_GIAM] [int] NOT NULL,
 CONSTRAINT [PK_KHUYEN_MAI] PRIMARY KEY CLUSTERED 
(
	[MA_KM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAI_LOP]    Script Date: 8/29/2019 5:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_LOP](
	[MA_LOAI] [uniqueidentifier] NOT NULL,
	[SI_SO] [int] NULL,
	[TEN_LOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAI_LOP] PRIMARY KEY CLUSTERED 
(
	[MA_LOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOP_HOC]    Script Date: 8/29/2019 5:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP_HOC](
	[MA_LOP] [uniqueidentifier] NOT NULL,
	[TEN_LOP] [nvarchar](50) NOT NULL,
	[SI_SO] [int] NULL,
	[NGAY_AP_DUNG] [datetime] NULL,
	[MA_GV] [nchar](10) NOT NULL,
	[NGAY_KET_THUC] [date] NULL,
	[NGAY_BAT_DAU] [date] NULL,
	[TRANG_THAI] [smallint] NULL,
 CONSTRAINT [PK_LOP_HOC] PRIMARY KEY CLUSTERED 
(
	[MA_LOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MON_HOC]    Script Date: 8/29/2019 5:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MON_HOC](
	[MA_MON] [uniqueidentifier] NOT NULL,
	[TEN_MON] [nvarchar](50) NULL,
 CONSTRAINT [PK_MON_HOC] PRIMARY KEY CLUSTERED 
(
	[MA_MON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGOAI_GIO]    Script Date: 8/29/2019 5:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGOAI_GIO](
	[MA_NGOAI_GIO] [uniqueidentifier] NOT NULL,
	[MA_LUONG] [uniqueidentifier] NULL,
	[MA_GV] [nchar](10) NULL,
	[NGAY_LAM] [datetime] NOT NULL,
	[SO_LUONG] [int] NOT NULL,
	[TINH_TRANG] [bit] NULL,
 CONSTRAINT [PK_NGOAI_GIO_1] PRIMARY KEY CLUSTERED 
(
	[MA_NGOAI_GIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 8/29/2019 5:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[ID] [nchar](10) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[MAT_KHAU] [nchar](50) NOT NULL,
	[CHUC_VU] [nchar](2) NOT NULL,
 CONSTRAINT [PK_TAI_KHOAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THOI_KHOA_BIEU]    Script Date: 8/29/2019 5:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THOI_KHOA_BIEU](
	[MA_LOP] [uniqueidentifier] NOT NULL,
	[THU] [int] NOT NULL,
	[THOI_GIAN_BD] [time](7) NOT NULL,
	[THOI_GIAN_KT] [time](7) NOT NULL,
 CONSTRAINT [PK_THOI_KHOA_BIEU] PRIMARY KEY CLUSTERED 
(
	[MA_LOP] ASC,
	[THU] ASC,
	[THOI_GIAN_BD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRANG_CHU]    Script Date: 8/29/2019 5:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANG_CHU](
	[NGAY_AP_DUNG] [datetime] NOT NULL,
	[MUC_TIEU] [nvarchar](1000) NULL,
	[GIOI_THIEU] [nvarchar](1000) NULL,
	[DIA_CHI] [nvarchar](1000) NULL,
	[EMAIL] [nchar](50) NULL,
	[SDT1] [nchar](15) NULL,
	[SDT2] [nchar](15) NULL,
	[TIEUDE_MONHOC] [nvarchar](1000) NULL,
 CONSTRAINT [PK_TRANG_CHU] PRIMARY KEY CLUSTERED 
(
	[NGAY_AP_DUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[BANG_GIA_HOC_PHI] ([NGAY_AP_DUNG], [MA_KHOI], [MA_MON], [MA_LOAI], [DON_GIA], [SO_BUOI]) VALUES (CAST(N'2019-08-12 00:00:00.000' AS DateTime), N'80fb5e54-d91a-460c-bd57-7641a129d49e', N'9de30d72-a306-4b24-89ca-be3ea40f05af', N'd67c852b-e804-4663-a772-0df2b097ccb4', 500.0000, 3)
INSERT [dbo].[BANG_GIA_HOC_PHI] ([NGAY_AP_DUNG], [MA_KHOI], [MA_MON], [MA_LOAI], [DON_GIA], [SO_BUOI]) VALUES (CAST(N'2019-08-12 12:00:00.000' AS DateTime), N'524baf23-a597-4a3a-9c2b-9c0297bee630', N'9de30d72-a306-4b24-89ca-be3ea40f05af', N'd67c852b-e804-4663-a772-0df2b097ccb4', 150.0000, 3)
INSERT [dbo].[BANG_LUONG] ([MA_LOAI_LUONG], [TEN_LOAI], [SO_LUONG_MIN], [SO_LUONG_MAX], [DON_GIA]) VALUES (N'304991d9-3bc0-4df1-8ffb-08eddb715ab9', N'Trực văn phòng', 3.5, 0, 100000)
INSERT [dbo].[BANG_LUONG] ([MA_LOAI_LUONG], [TEN_LOAI], [SO_LUONG_MIN], [SO_LUONG_MAX], [DON_GIA]) VALUES (N'86349bb4-b964-4416-bb6c-259371ce3cab', N'Nhóm 1-2 HS', 1, 2, 150000)
INSERT [dbo].[BANG_LUONG] ([MA_LOAI_LUONG], [TEN_LOAI], [SO_LUONG_MIN], [SO_LUONG_MAX], [DON_GIA]) VALUES (N'4700cc57-7f13-45b1-839a-505f257ade4d', N'Nhóm 11-12 HS', 11, 12, 300000)
INSERT [dbo].[GIAO_VIEN] ([MA_GV], [HO_TEN], [SDT], [GIOI_TINH], [EMAIL], [NG_SINH]) VALUES (N'1000000001', N'Phạm Hữu Ngọc', N'0372417647     ', N'nam', N'phamhuungoc0507@gmail.com', CAST(N'1998-08-07' AS Date))
INSERT [dbo].[GIAO_VIEN] ([MA_GV], [HO_TEN], [SDT], [GIOI_TINH], [EMAIL], [NG_SINH]) VALUES (N'1000000002', N'Lê Văn Tèo', N'0372417647     ', N'nữ', N'phamhuungoc0507@gmail.com', CAST(N'1998-12-12' AS Date))
INSERT [dbo].[GIAO_VIEN] ([MA_GV], [HO_TEN], [SDT], [GIOI_TINH], [EMAIL], [NG_SINH]) VALUES (N'1000000003', N'Nguyễn Văn A', N'0372417647     ', N'bê đê', N'imvietha@yahoo.com', CAST(N'1998-11-12' AS Date))
INSERT [dbo].[HOC_SINH] ([MA_HS], [HO_TEN], [NG_SINH], [GIOI_TINH], [KHOI], [TRUONG], [SDT], [DIA_CHI], [PHU_HUYNH]) VALUES (N'2000000001', N'Trần Khánh Nhật', CAST(N'1998-07-11 00:00:00.000' AS DateTime), N'Nam', 8, N'THPT Lấp Vò 3', N'0388174111     ', N'Số 140 Lê Trọng Tấn, Tây Thạnh, Tân Phú, HCM', N'Nguyễn Văn B')
INSERT [dbo].[HOC_SINH] ([MA_HS], [HO_TEN], [NG_SINH], [GIOI_TINH], [KHOI], [TRUONG], [SDT], [DIA_CHI], [PHU_HUYNH]) VALUES (N'2000000002', N'Phạm Hữu Ngọc', CAST(N'1998-07-05 00:00:00.000' AS DateTime), N'Nam', 10, N'THPT Lấp Vò 3', N'08123809091    ', N'Số', N'Nguyễn Văn B')
INSERT [dbo].[HOC_SINH] ([MA_HS], [HO_TEN], [NG_SINH], [GIOI_TINH], [KHOI], [TRUONG], [SDT], [DIA_CHI], [PHU_HUYNH]) VALUES (N'2000000003', N'Nguyễn Văn Lành', CAST(N'1997-04-09 00:00:00.000' AS DateTime), N'Nam', 10, N'THPT Lấp Vò 3', N'8954303190     ', N'Số 140 Lê Trọng Tấn, Tây Thạnh, Tân Phú, HCM', N'Nguyễn Văn B')
INSERT [dbo].[KHOI_LOP] ([MA_KHOI], [TEN_KHOI]) VALUES (N'80fb5e54-d91a-460c-bd57-7641a129d49e', N'THPT')
INSERT [dbo].[KHOI_LOP] ([MA_KHOI], [TEN_KHOI]) VALUES (N'524baf23-a597-4a3a-9c2b-9c0297bee630', N'THCS')
INSERT [dbo].[KHUYEN_MAI] ([MA_KM], [TEN_KM], [SO_MON_DK], [TIEN_GIAM]) VALUES (N'c29848aa-31e4-4615-8e96-59938ab3076e', N'Đăng ký 3 môn', 3, 30)
INSERT [dbo].[KHUYEN_MAI] ([MA_KM], [TEN_KM], [SO_MON_DK], [TIEN_GIAM]) VALUES (N'e45de7dd-6b9f-4a3f-9698-7876c0a28814', N'Đăng ký 4 môn', 4, 40)
INSERT [dbo].[KHUYEN_MAI] ([MA_KM], [TEN_KM], [SO_MON_DK], [TIEN_GIAM]) VALUES (N'aff0d742-cea7-4723-b4b3-958ac6ef8303', N'Đăng ký 2 môn', 2, 20)
INSERT [dbo].[LOAI_LOP] ([MA_LOAI], [SI_SO], [TEN_LOAI]) VALUES (N'd67c852b-e804-4663-a772-0df2b097ccb4', NULL, N'loại 4-5')
INSERT [dbo].[LOAI_LOP] ([MA_LOAI], [SI_SO], [TEN_LOAI]) VALUES (N'21d678c1-3bbb-4f93-aeda-6d148331b87a', NULL, N'loại 1 - 2')
INSERT [dbo].[LOP_HOC] ([MA_LOP], [TEN_LOP], [SI_SO], [NGAY_AP_DUNG], [MA_GV], [NGAY_KET_THUC], [NGAY_BAT_DAU], [TRANG_THAI]) VALUES (N'5793bd93-3c17-4b3b-b01e-0c457b9e5c67', N'bac', 6, CAST(N'2019-08-12 00:00:00.000' AS DateTime), N'1000000001', NULL, CAST(N'2019-08-20' AS Date), -1)
INSERT [dbo].[LOP_HOC] ([MA_LOP], [TEN_LOP], [SI_SO], [NGAY_AP_DUNG], [MA_GV], [NGAY_KET_THUC], [NGAY_BAT_DAU], [TRANG_THAI]) VALUES (N'c688556e-26e3-4ca5-9e74-64903f6b58c3', N'Toán Lớp 7 A', NULL, NULL, N'1000000002', NULL, NULL, NULL)
INSERT [dbo].[LOP_HOC] ([MA_LOP], [TEN_LOP], [SI_SO], [NGAY_AP_DUNG], [MA_GV], [NGAY_KET_THUC], [NGAY_BAT_DAU], [TRANG_THAI]) VALUES (N'063b29b6-8b64-4d3e-bba9-aab2567fdbd9', N'abc', 6, CAST(N'2019-08-12 00:00:00.000' AS DateTime), N'1000000001', NULL, CAST(N'2019-08-20' AS Date), -1)
INSERT [dbo].[MON_HOC] ([MA_MON], [TEN_MON]) VALUES (N'19d7da79-0782-4b51-acc0-19406850607f', N'Sinh')
INSERT [dbo].[MON_HOC] ([MA_MON], [TEN_MON]) VALUES (N'9de30d72-a306-4b24-89ca-be3ea40f05af', N'Lý')
INSERT [dbo].[MON_HOC] ([MA_MON], [TEN_MON]) VALUES (N'2b3d6f21-f114-4901-8903-db6bb091c737', N'Hóa')
INSERT [dbo].[THOI_KHOA_BIEU] ([MA_LOP], [THU], [THOI_GIAN_BD], [THOI_GIAN_KT]) VALUES (N'5793bd93-3c17-4b3b-b01e-0c457b9e5c67', 1, CAST(N'12:03:00' AS Time), CAST(N'13:03:00' AS Time))
INSERT [dbo].[THOI_KHOA_BIEU] ([MA_LOP], [THU], [THOI_GIAN_BD], [THOI_GIAN_KT]) VALUES (N'5793bd93-3c17-4b3b-b01e-0c457b9e5c67', 3, CAST(N'12:03:00' AS Time), CAST(N'13:03:00' AS Time))
INSERT [dbo].[THOI_KHOA_BIEU] ([MA_LOP], [THU], [THOI_GIAN_BD], [THOI_GIAN_KT]) VALUES (N'5793bd93-3c17-4b3b-b01e-0c457b9e5c67', 5, CAST(N'12:03:00' AS Time), CAST(N'13:03:00' AS Time))
ALTER TABLE [dbo].[BANG_GIA_HOC_PHI]  WITH CHECK ADD  CONSTRAINT [FK_BANG_GIA_HOC_PHI_KHOI_LOP] FOREIGN KEY([MA_KHOI])
REFERENCES [dbo].[KHOI_LOP] ([MA_KHOI])
GO
ALTER TABLE [dbo].[BANG_GIA_HOC_PHI] CHECK CONSTRAINT [FK_BANG_GIA_HOC_PHI_KHOI_LOP]
GO
ALTER TABLE [dbo].[BANG_GIA_HOC_PHI]  WITH CHECK ADD  CONSTRAINT [FK_BANG_GIA_HOC_PHI_LOAI_LOP] FOREIGN KEY([MA_LOAI])
REFERENCES [dbo].[LOAI_LOP] ([MA_LOAI])
GO
ALTER TABLE [dbo].[BANG_GIA_HOC_PHI] CHECK CONSTRAINT [FK_BANG_GIA_HOC_PHI_LOAI_LOP]
GO
ALTER TABLE [dbo].[BANG_GIA_HOC_PHI]  WITH CHECK ADD  CONSTRAINT [FK_BANG_GIA_HOC_PHI_MON_HOC] FOREIGN KEY([MA_MON])
REFERENCES [dbo].[MON_HOC] ([MA_MON])
GO
ALTER TABLE [dbo].[BANG_GIA_HOC_PHI] CHECK CONSTRAINT [FK_BANG_GIA_HOC_PHI_MON_HOC]
GO
ALTER TABLE [dbo].[BUOI_HOC]  WITH CHECK ADD  CONSTRAINT [FK_BUOI_HOC_BANG_LUONG] FOREIGN KEY([MA_LUONG])
REFERENCES [dbo].[BANG_LUONG] ([MA_LOAI_LUONG])
GO
ALTER TABLE [dbo].[BUOI_HOC] CHECK CONSTRAINT [FK_BUOI_HOC_BANG_LUONG]
GO
ALTER TABLE [dbo].[BUOI_HOC]  WITH CHECK ADD  CONSTRAINT [FK_BUOI_HOC_GIAO_VIEN] FOREIGN KEY([MA_GV])
REFERENCES [dbo].[GIAO_VIEN] ([MA_GV])
GO
ALTER TABLE [dbo].[BUOI_HOC] CHECK CONSTRAINT [FK_BUOI_HOC_GIAO_VIEN]
GO
ALTER TABLE [dbo].[BUOI_HOC]  WITH CHECK ADD  CONSTRAINT [FK_BUOI_HOC_LOP_HOC] FOREIGN KEY([MA_LOP])
REFERENCES [dbo].[LOP_HOC] ([MA_LOP])
GO
ALTER TABLE [dbo].[BUOI_HOC] CHECK CONSTRAINT [FK_BUOI_HOC_LOP_HOC]
GO
ALTER TABLE [dbo].[CONG_NO]  WITH CHECK ADD  CONSTRAINT [FK_CONG_NO_HOC_SINH] FOREIGN KEY([MA_HS])
REFERENCES [dbo].[HOC_SINH] ([MA_HS])
GO
ALTER TABLE [dbo].[CONG_NO] CHECK CONSTRAINT [FK_CONG_NO_HOC_SINH]
GO
ALTER TABLE [dbo].[CONG_NO]  WITH CHECK ADD  CONSTRAINT [FK_CONG_NO_KHUYEN_MAI] FOREIGN KEY([MA_KM])
REFERENCES [dbo].[KHUYEN_MAI] ([MA_KM])
GO
ALTER TABLE [dbo].[CONG_NO] CHECK CONSTRAINT [FK_CONG_NO_KHUYEN_MAI]
GO
ALTER TABLE [dbo].[CT_BUOIHOC]  WITH CHECK ADD  CONSTRAINT [FK_CT_BUOIHOC_BUOI_HOC] FOREIGN KEY([MA_BUOI])
REFERENCES [dbo].[BUOI_HOC] ([MA_BUOI])
GO
ALTER TABLE [dbo].[CT_BUOIHOC] CHECK CONSTRAINT [FK_CT_BUOIHOC_BUOI_HOC]
GO
ALTER TABLE [dbo].[CT_BUOIHOC]  WITH CHECK ADD  CONSTRAINT [FK_CT_BUOIHOC_HOC_SINH] FOREIGN KEY([MA_HS])
REFERENCES [dbo].[HOC_SINH] ([MA_HS])
GO
ALTER TABLE [dbo].[CT_BUOIHOC] CHECK CONSTRAINT [FK_CT_BUOIHOC_HOC_SINH]
GO
ALTER TABLE [dbo].[CT_CONG_NO]  WITH CHECK ADD  CONSTRAINT [FK_CT_CONG_NO_CONG_NO] FOREIGN KEY([MA_CONG_NO])
REFERENCES [dbo].[CONG_NO] ([MA_CONG_NO])
GO
ALTER TABLE [dbo].[CT_CONG_NO] CHECK CONSTRAINT [FK_CT_CONG_NO_CONG_NO]
GO
ALTER TABLE [dbo].[CT_CONG_NO]  WITH CHECK ADD  CONSTRAINT [FK_CT_CONG_NO_LOP_HOC] FOREIGN KEY([MA_LOP])
REFERENCES [dbo].[LOP_HOC] ([MA_LOP])
GO
ALTER TABLE [dbo].[CT_CONG_NO] CHECK CONSTRAINT [FK_CT_CONG_NO_LOP_HOC]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_BUOI_HOC1] FOREIGN KEY([MA_BUOI])
REFERENCES [dbo].[BUOI_HOC] ([MA_BUOI])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_BUOI_HOC1]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_HOA_DON] FOREIGN KEY([MA_HD])
REFERENCES [dbo].[HOA_DON] ([MA_HD])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_HOA_DON]
GO
ALTER TABLE [dbo].[CT_HOADON_NGOAIGIO]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_NGOAIGIO_HOA_DON] FOREIGN KEY([MA_HD])
REFERENCES [dbo].[HOA_DON] ([MA_HD])
GO
ALTER TABLE [dbo].[CT_HOADON_NGOAIGIO] CHECK CONSTRAINT [FK_CT_HOADON_NGOAIGIO_HOA_DON]
GO
ALTER TABLE [dbo].[CT_HOADON_NGOAIGIO]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_NGOAIGIO_NGOAI_GIO] FOREIGN KEY([MA_NGOAI_GIO])
REFERENCES [dbo].[NGOAI_GIO] ([MA_NGOAI_GIO])
GO
ALTER TABLE [dbo].[CT_HOADON_NGOAIGIO] CHECK CONSTRAINT [FK_CT_HOADON_NGOAIGIO_NGOAI_GIO]
GO
ALTER TABLE [dbo].[CT_LOP_HOC]  WITH CHECK ADD  CONSTRAINT [FK_CT_LOP_HOC_HOC_SINH] FOREIGN KEY([MA_HS])
REFERENCES [dbo].[HOC_SINH] ([MA_HS])
GO
ALTER TABLE [dbo].[CT_LOP_HOC] CHECK CONSTRAINT [FK_CT_LOP_HOC_HOC_SINH]
GO
ALTER TABLE [dbo].[CT_LOP_HOC]  WITH CHECK ADD  CONSTRAINT [FK_CT_LOP_HOC_LOP_HOC] FOREIGN KEY([MA_LOP])
REFERENCES [dbo].[LOP_HOC] ([MA_LOP])
GO
ALTER TABLE [dbo].[CT_LOP_HOC] CHECK CONSTRAINT [FK_CT_LOP_HOC_LOP_HOC]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_GIAO_VIEN] FOREIGN KEY([MA_GV])
REFERENCES [dbo].[GIAO_VIEN] ([MA_GV])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_GIAO_VIEN]
GO
ALTER TABLE [dbo].[LOP_HOC]  WITH CHECK ADD  CONSTRAINT [FK_LOP_HOC_BANG_GIA_HOC_PHI] FOREIGN KEY([NGAY_AP_DUNG])
REFERENCES [dbo].[BANG_GIA_HOC_PHI] ([NGAY_AP_DUNG])
GO
ALTER TABLE [dbo].[LOP_HOC] CHECK CONSTRAINT [FK_LOP_HOC_BANG_GIA_HOC_PHI]
GO
ALTER TABLE [dbo].[LOP_HOC]  WITH CHECK ADD  CONSTRAINT [FK_LOP_HOC_GIAO_VIEN] FOREIGN KEY([MA_GV])
REFERENCES [dbo].[GIAO_VIEN] ([MA_GV])
GO
ALTER TABLE [dbo].[LOP_HOC] CHECK CONSTRAINT [FK_LOP_HOC_GIAO_VIEN]
GO
ALTER TABLE [dbo].[NGOAI_GIO]  WITH CHECK ADD  CONSTRAINT [FK_NGOAI_GIO_BANG_LUONG1] FOREIGN KEY([MA_LUONG])
REFERENCES [dbo].[BANG_LUONG] ([MA_LOAI_LUONG])
GO
ALTER TABLE [dbo].[NGOAI_GIO] CHECK CONSTRAINT [FK_NGOAI_GIO_BANG_LUONG1]
GO
ALTER TABLE [dbo].[NGOAI_GIO]  WITH CHECK ADD  CONSTRAINT [FK_NGOAI_GIO_GIAO_VIEN] FOREIGN KEY([MA_GV])
REFERENCES [dbo].[GIAO_VIEN] ([MA_GV])
GO
ALTER TABLE [dbo].[NGOAI_GIO] CHECK CONSTRAINT [FK_NGOAI_GIO_GIAO_VIEN]
GO
ALTER TABLE [dbo].[TAI_KHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAI_KHOAN_GIAO_VIEN] FOREIGN KEY([ID])
REFERENCES [dbo].[GIAO_VIEN] ([MA_GV])
GO
ALTER TABLE [dbo].[TAI_KHOAN] CHECK CONSTRAINT [FK_TAI_KHOAN_GIAO_VIEN]
GO
ALTER TABLE [dbo].[TAI_KHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAI_KHOAN_HOC_SINH] FOREIGN KEY([ID])
REFERENCES [dbo].[HOC_SINH] ([MA_HS])
GO
ALTER TABLE [dbo].[TAI_KHOAN] CHECK CONSTRAINT [FK_TAI_KHOAN_HOC_SINH]
GO
ALTER TABLE [dbo].[THOI_KHOA_BIEU]  WITH CHECK ADD  CONSTRAINT [FK_THOI_KHOA_BIEU_LOP_HOC] FOREIGN KEY([MA_LOP])
REFERENCES [dbo].[LOP_HOC] ([MA_LOP])
GO
ALTER TABLE [dbo].[THOI_KHOA_BIEU] CHECK CONSTRAINT [FK_THOI_KHOA_BIEU_LOP_HOC]
GO
/****** Object:  Trigger [dbo].[sobuoi]    Script Date: 8/29/2019 5:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[sobuoi]
ON [dbo].[BUOI_HOC]
AFTER INSERT
AS
	BEGIN
		update BUOI_HOC
		SET STT_BUOI = (SELECT COUNT(*) FROM BUOI_HOC p,inserted i WHERE p.MA_LOP = i.MA_LOP)
		FROM BUOI_HOC
		WHERE MA_BUOI = (SELECT MA_BUOI
						FROM inserted)
	END


GO
