USE [QL_TRUNGTAM]
GO
/****** Object:  Table [dbo].[BANG_GIA_HOC_PHI]    Script Date: 7/8/2019 5:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANG_GIA_HOC_PHI](
	[MA_KHOI] [uniqueidentifier] NOT NULL,
	[MA_MON] [uniqueidentifier] NOT NULL,
	[MA_LOAI] [uniqueidentifier] NOT NULL,
	[DON_GIA] [money] NULL,
	[SO_BUOI] [float] NULL,
 CONSTRAINT [PK_BANG_GIA_HOC_PHI] PRIMARY KEY CLUSTERED 
(
	[MA_KHOI] ASC,
	[MA_MON] ASC,
	[MA_LOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BANG_LUONG]    Script Date: 7/8/2019 5:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANG_LUONG](
	[MA_LOAI_LUONG] [uniqueidentifier] NOT NULL,
	[TEN_LOAI] [nvarchar](50) NULL,
	[SO_LUONG_MIN] [int] NULL,
	[SO_LUONG_MAX] [int] NULL,
	[DON_GIA] [money] NULL,
 CONSTRAINT [PK_BANG_LUONG] PRIMARY KEY CLUSTERED 
(
	[MA_LOAI_LUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BUOI_HOC]    Script Date: 7/8/2019 5:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUOI_HOC](
	[MA_BUOI] [uniqueidentifier] NOT NULL,
	[TEN_BUOI] [nvarchar](50) NULL,
	[DIEM_DANH_GV] [bit] NULL,
	[SI_SO_THUC] [int] NULL,
	[MA_LUONG] [uniqueidentifier] NULL,
	[MA_LOP] [uniqueidentifier] NULL,
 CONSTRAINT [PK_BUOI_HOC] PRIMARY KEY CLUSTERED 
(
	[MA_BUOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONG_NO]    Script Date: 7/8/2019 5:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONG_NO](
	[MA_CONG_NO] [uniqueidentifier] NOT NULL,
	[TEN_CONG_NO] [nvarchar](50) NULL,
	[TONG_TIEN] [money] NULL,
	[NGAY_THANH_TOAN] [datetime] NULL,
	[MA_HS] [nchar](10) NOT NULL,
	[MA_KM] [uniqueidentifier] NULL,
 CONSTRAINT [PK_CONG_NO] PRIMARY KEY CLUSTERED 
(
	[MA_CONG_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_BUOIHOC]    Script Date: 7/8/2019 5:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_BUOIHOC](
	[MA_BUOI] [uniqueidentifier] NOT NULL,
	[MA_HS] [nchar](10) NOT NULL,
	[DIEM_DANH_HS] [nvarchar](50) NULL,
	[NHAN_XET_GV] [nvarchar](200) NULL,
	[BAI_TAP_VN] [nvarchar](50) NULL,
 CONSTRAINT [PK_CT_BUOIHOC] PRIMARY KEY CLUSTERED 
(
	[MA_BUOI] ASC,
	[MA_HS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_CONG_NO]    Script Date: 7/8/2019 5:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_CONG_NO](
	[MA_CONG_NO] [uniqueidentifier] NOT NULL,
	[MA_LOP] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_CT_CONG_NO] PRIMARY KEY CLUSTERED 
(
	[MA_CONG_NO] ASC,
	[MA_LOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_HOADON]    Script Date: 7/8/2019 5:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOADON](
	[MA_HD] [uniqueidentifier] NOT NULL,
	[MA_BUOI] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_CT_HOADON] PRIMARY KEY CLUSTERED 
(
	[MA_HD] ASC,
	[MA_BUOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_LOP]    Script Date: 7/8/2019 5:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_LOP](
	[MA_LOP] [uniqueidentifier] NOT NULL,
	[MA_HS] [nchar](10) NOT NULL,
 CONSTRAINT [PK_CT_LOP] PRIMARY KEY CLUSTERED 
(
	[MA_LOP] ASC,
	[MA_HS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIAO_VIEN]    Script Date: 7/8/2019 5:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIAO_VIEN](
	[MA_GV] [nchar](10) NOT NULL,
	[HO_TEN] [nvarchar](50) NOT NULL,
	[SDT] [nchar](15) NOT NULL,
	[GIOI_TINH] [nvarchar](10) NULL,
	[EMAIL] [varchar](max) NULL,
	[NG_SINH] [date] NULL,
 CONSTRAINT [PK_giao_vien] PRIMARY KEY CLUSTERED 
(
	[MA_GV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 7/8/2019 5:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MA_HD] [uniqueidentifier] NOT NULL,
	[TEN_HD] [nvarchar](50) NULL,
	[MA_GV] [nchar](10) NOT NULL,
	[NGAY_THANH_TOAN] [datetime] NULL,
	[TONG_TIEN] [money] NULL,
 CONSTRAINT [PK_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[MA_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOC_SINH]    Script Date: 7/8/2019 5:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOC_SINH](
	[MA_HS] [nchar](10) NOT NULL,
	[HO_TEN] [nvarchar](50) NOT NULL,
	[NG_SINH] [datetime] NULL,
	[GIOI_TINH] [nvarchar](10) NULL,
	[KHOI] [int] NULL,
	[TRUONG] [nvarchar](50) NULL,
	[SDT] [nchar](15) NULL,
	[DIA_CHI] [nvarchar](100) NULL,
	[PHU_HUYNH] [nvarchar](50) NULL,
 CONSTRAINT [PK_HOC_SINH] PRIMARY KEY CLUSTERED 
(
	[MA_HS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHOI_LOP]    Script Date: 7/8/2019 5:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOI_LOP](
	[MA_KHOI] [uniqueidentifier] NOT NULL,
	[TEN_KHOI] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHOI_LOP] PRIMARY KEY CLUSTERED 
(
	[MA_KHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHUYEN_MAI]    Script Date: 7/8/2019 5:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYEN_MAI](
	[MA_KM] [uniqueidentifier] NOT NULL,
	[TEN_KM] [nvarchar](50) NULL,
	[SO_MON_DK] [int] NULL,
	[TIEN_GIAM] [int] NULL,
 CONSTRAINT [PK_KHUYEN_MAI] PRIMARY KEY CLUSTERED 
(
	[MA_KM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAI_LOP]    Script Date: 7/8/2019 5:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_LOP](
	[MA_LOAI] [uniqueidentifier] NOT NULL,
	[TEN_LOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAI_LOP] PRIMARY KEY CLUSTERED 
(
	[MA_LOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOP_HOC]    Script Date: 7/8/2019 5:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP_HOC](
	[MA_LOP] [uniqueidentifier] NOT NULL,
	[TEN_LOP] [nvarchar](50) NOT NULL,
	[SI_SO] [int] NULL,
	[MA_LOAI] [uniqueidentifier] NULL,
	[MA_MON] [uniqueidentifier] NULL,
	[MA_KHOI] [uniqueidentifier] NULL,
	[MA_GV] [nchar](10) NOT NULL,
 CONSTRAINT [PK_LOP_HOC] PRIMARY KEY CLUSTERED 
(
	[MA_LOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MON_HOC]    Script Date: 7/8/2019 5:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MON_HOC](
	[MA_MON] [uniqueidentifier] NOT NULL,
	[TEN_MON] [nvarchar](50) NULL,
 CONSTRAINT [PK_MON_HOC] PRIMARY KEY CLUSTERED 
(
	[MA_MON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGOAI_GIO]    Script Date: 7/8/2019 5:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGOAI_GIO](
	[MA_LUONG] [uniqueidentifier] NOT NULL,
	[MA_GV] [nchar](10) NOT NULL,
	[NGAY_LAM] [datetime] NULL,
 CONSTRAINT [PK_NGOAI_GIO] PRIMARY KEY CLUSTERED 
(
	[MA_LUONG] ASC,
	[MA_GV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 7/8/2019 5:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[TAI_KHOAN] [nchar](10) NOT NULL,
	[MAT_KHAU] [nchar](50) NOT NULL,
 CONSTRAINT [PK_TAI_KHOAN_1] PRIMARY KEY CLUSTERED 
(
	[TAI_KHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THOI_KHOA_BIEU]    Script Date: 7/8/2019 5:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THOI_KHOA_BIEU](
	[MA_LOP] [uniqueidentifier] NOT NULL,
	[THU] [nvarchar](50) NOT NULL,
	[THOI_GIAN_BD] [time](7) NOT NULL,
	[THOI_GIAN_KT] [time](7) NULL,
 CONSTRAINT [PK_THOI_KHOA_BIEU] PRIMARY KEY CLUSTERED 
(
	[MA_LOP] ASC,
	[THU] ASC,
	[THOI_GIAN_BD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[BANG_GIA_HOC_PHI]  WITH CHECK ADD  CONSTRAINT [FK_BANG_GIA_HOC_PHI_KHOI_LOP] FOREIGN KEY([MA_KHOI])
REFERENCES [dbo].[KHOI_LOP] ([MA_KHOI])
GO
ALTER TABLE [dbo].[BANG_GIA_HOC_PHI] CHECK CONSTRAINT [FK_BANG_GIA_HOC_PHI_KHOI_LOP]
GO
ALTER TABLE [dbo].[BANG_GIA_HOC_PHI]  WITH CHECK ADD  CONSTRAINT [FK_BANG_GIA_HOC_PHI_LOAI_LOP] FOREIGN KEY([MA_LOAI])
REFERENCES [dbo].[LOAI_LOP] ([MA_LOAI])
GO
ALTER TABLE [dbo].[BANG_GIA_HOC_PHI] CHECK CONSTRAINT [FK_BANG_GIA_HOC_PHI_LOAI_LOP]
GO
ALTER TABLE [dbo].[BANG_GIA_HOC_PHI]  WITH CHECK ADD  CONSTRAINT [FK_BANG_GIA_HOC_PHI_MON_HOC] FOREIGN KEY([MA_MON])
REFERENCES [dbo].[MON_HOC] ([MA_MON])
GO
ALTER TABLE [dbo].[BANG_GIA_HOC_PHI] CHECK CONSTRAINT [FK_BANG_GIA_HOC_PHI_MON_HOC]
GO
ALTER TABLE [dbo].[BUOI_HOC]  WITH CHECK ADD  CONSTRAINT [FK_BUOI_HOC_BANG_LUONG] FOREIGN KEY([MA_LUONG])
REFERENCES [dbo].[BANG_LUONG] ([MA_LOAI_LUONG])
GO
ALTER TABLE [dbo].[BUOI_HOC] CHECK CONSTRAINT [FK_BUOI_HOC_BANG_LUONG]
GO
ALTER TABLE [dbo].[BUOI_HOC]  WITH CHECK ADD  CONSTRAINT [FK_BUOI_HOC_LOP_HOC] FOREIGN KEY([MA_LOP])
REFERENCES [dbo].[LOP_HOC] ([MA_LOP])
GO
ALTER TABLE [dbo].[BUOI_HOC] CHECK CONSTRAINT [FK_BUOI_HOC_LOP_HOC]
GO
ALTER TABLE [dbo].[CONG_NO]  WITH CHECK ADD  CONSTRAINT [FK_CONG_NO_HOC_SINH] FOREIGN KEY([MA_HS])
REFERENCES [dbo].[HOC_SINH] ([MA_HS])
GO
ALTER TABLE [dbo].[CONG_NO] CHECK CONSTRAINT [FK_CONG_NO_HOC_SINH]
GO
ALTER TABLE [dbo].[CONG_NO]  WITH CHECK ADD  CONSTRAINT [FK_CONG_NO_KHUYEN_MAI] FOREIGN KEY([MA_KM])
REFERENCES [dbo].[KHUYEN_MAI] ([MA_KM])
GO
ALTER TABLE [dbo].[CONG_NO] CHECK CONSTRAINT [FK_CONG_NO_KHUYEN_MAI]
GO
ALTER TABLE [dbo].[CT_BUOIHOC]  WITH CHECK ADD  CONSTRAINT [FK_CT_BUOIHOC_BUOI_HOC] FOREIGN KEY([MA_BUOI])
REFERENCES [dbo].[BUOI_HOC] ([MA_BUOI])
GO
ALTER TABLE [dbo].[CT_BUOIHOC] CHECK CONSTRAINT [FK_CT_BUOIHOC_BUOI_HOC]
GO
ALTER TABLE [dbo].[CT_BUOIHOC]  WITH CHECK ADD  CONSTRAINT [FK_CT_BUOIHOC_HOC_SINH] FOREIGN KEY([MA_HS])
REFERENCES [dbo].[HOC_SINH] ([MA_HS])
GO
ALTER TABLE [dbo].[CT_BUOIHOC] CHECK CONSTRAINT [FK_CT_BUOIHOC_HOC_SINH]
GO
ALTER TABLE [dbo].[CT_CONG_NO]  WITH CHECK ADD  CONSTRAINT [FK_CT_CONG_NO_CONG_NO] FOREIGN KEY([MA_CONG_NO])
REFERENCES [dbo].[CONG_NO] ([MA_CONG_NO])
GO
ALTER TABLE [dbo].[CT_CONG_NO] CHECK CONSTRAINT [FK_CT_CONG_NO_CONG_NO]
GO
ALTER TABLE [dbo].[CT_CONG_NO]  WITH CHECK ADD  CONSTRAINT [FK_CT_CONG_NO_LOP_HOC] FOREIGN KEY([MA_LOP])
REFERENCES [dbo].[LOP_HOC] ([MA_LOP])
GO
ALTER TABLE [dbo].[CT_CONG_NO] CHECK CONSTRAINT [FK_CT_CONG_NO_LOP_HOC]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_BUOI_HOC] FOREIGN KEY([MA_BUOI])
REFERENCES [dbo].[BUOI_HOC] ([MA_BUOI])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_BUOI_HOC]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_HOA_DON] FOREIGN KEY([MA_HD])
REFERENCES [dbo].[HOA_DON] ([MA_HD])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_HOA_DON]
GO
ALTER TABLE [dbo].[CT_LOP]  WITH CHECK ADD  CONSTRAINT [FK_CT_LOP_HOC_SINH] FOREIGN KEY([MA_HS])
REFERENCES [dbo].[HOC_SINH] ([MA_HS])
GO
ALTER TABLE [dbo].[CT_LOP] CHECK CONSTRAINT [FK_CT_LOP_HOC_SINH]
GO
ALTER TABLE [dbo].[CT_LOP]  WITH CHECK ADD  CONSTRAINT [FK_CT_LOP_LOP_HOC] FOREIGN KEY([MA_LOP])
REFERENCES [dbo].[LOP_HOC] ([MA_LOP])
GO
ALTER TABLE [dbo].[CT_LOP] CHECK CONSTRAINT [FK_CT_LOP_LOP_HOC]
GO
ALTER TABLE [dbo].[GIAO_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIAO_VIEN_TAI_KHOAN] FOREIGN KEY([MA_GV])
REFERENCES [dbo].[TAI_KHOAN] ([TAI_KHOAN])
GO
ALTER TABLE [dbo].[GIAO_VIEN] CHECK CONSTRAINT [FK_GIAO_VIEN_TAI_KHOAN]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_GIAO_VIEN] FOREIGN KEY([MA_GV])
REFERENCES [dbo].[GIAO_VIEN] ([MA_GV])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_GIAO_VIEN]
GO
ALTER TABLE [dbo].[HOC_SINH]  WITH CHECK ADD  CONSTRAINT [FK_HOC_SINH_TAI_KHOAN] FOREIGN KEY([MA_HS])
REFERENCES [dbo].[TAI_KHOAN] ([TAI_KHOAN])
GO
ALTER TABLE [dbo].[HOC_SINH] CHECK CONSTRAINT [FK_HOC_SINH_TAI_KHOAN]
GO
ALTER TABLE [dbo].[LOP_HOC]  WITH CHECK ADD  CONSTRAINT [FK_LOP_HOC_GIAO_VIEN] FOREIGN KEY([MA_GV])
REFERENCES [dbo].[GIAO_VIEN] ([MA_GV])
GO
ALTER TABLE [dbo].[LOP_HOC] CHECK CONSTRAINT [FK_LOP_HOC_GIAO_VIEN]
GO
ALTER TABLE [dbo].[LOP_HOC]  WITH CHECK ADD  CONSTRAINT [FK_LOP_HOC_KHOI_LOP] FOREIGN KEY([MA_KHOI])
REFERENCES [dbo].[KHOI_LOP] ([MA_KHOI])
GO
ALTER TABLE [dbo].[LOP_HOC] CHECK CONSTRAINT [FK_LOP_HOC_KHOI_LOP]
GO
ALTER TABLE [dbo].[LOP_HOC]  WITH CHECK ADD  CONSTRAINT [FK_LOP_HOC_LOAI_LOP1] FOREIGN KEY([MA_LOAI])
REFERENCES [dbo].[LOAI_LOP] ([MA_LOAI])
GO
ALTER TABLE [dbo].[LOP_HOC] CHECK CONSTRAINT [FK_LOP_HOC_LOAI_LOP1]
GO
ALTER TABLE [dbo].[LOP_HOC]  WITH CHECK ADD  CONSTRAINT [FK_LOP_HOC_MON_HOC] FOREIGN KEY([MA_MON])
REFERENCES [dbo].[MON_HOC] ([MA_MON])
GO
ALTER TABLE [dbo].[LOP_HOC] CHECK CONSTRAINT [FK_LOP_HOC_MON_HOC]
GO
ALTER TABLE [dbo].[NGOAI_GIO]  WITH CHECK ADD  CONSTRAINT [FK_NGOAI_GIO_BANG_LUONG] FOREIGN KEY([MA_LUONG])
REFERENCES [dbo].[BANG_LUONG] ([MA_LOAI_LUONG])
GO
ALTER TABLE [dbo].[NGOAI_GIO] CHECK CONSTRAINT [FK_NGOAI_GIO_BANG_LUONG]
GO
ALTER TABLE [dbo].[NGOAI_GIO]  WITH CHECK ADD  CONSTRAINT [FK_NGOAI_GIO_GIAO_VIEN] FOREIGN KEY([MA_GV])
REFERENCES [dbo].[GIAO_VIEN] ([MA_GV])
GO
ALTER TABLE [dbo].[NGOAI_GIO] CHECK CONSTRAINT [FK_NGOAI_GIO_GIAO_VIEN]
GO
ALTER TABLE [dbo].[THOI_KHOA_BIEU]  WITH CHECK ADD  CONSTRAINT [FK_THOI_KHOA_BIEU_LOP_HOC] FOREIGN KEY([MA_LOP])
REFERENCES [dbo].[LOP_HOC] ([MA_LOP])
GO
ALTER TABLE [dbo].[THOI_KHOA_BIEU] CHECK CONSTRAINT [FK_THOI_KHOA_BIEU_LOP_HOC]
GO
