@model IEnumerable<TrungTam.Areas.Admin.Models.BUOI_HOC>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
    var chonlop = (List<TrungTam.Areas.Admin.Abstracts.THOI_KHOA_BIEU_LOP_HOC>)ViewBag.ct;
}
@*Chọn lớp trong ngày đó*@
<div class="row">
    <div class="col-2">
        Lớp học :
    </div>
    <div class="col-2" id="listlop">
        <select class="dropdown-select" name="lopp" id="lop">
            <option>Chọn lớp</option>
            @foreach (var item in chonlop)
            {
                <option value="@item.MA_LOP">@item.TEN_LOP</option>
            }
        </select>
    </div>
    <div class="col-2" style="display:none" id="lbl_buoi">
        Buổi :
    </div>
    <form action="/BUOI_HOC/Edit" method="post">
        <div class="col-2" style="display:none" id="select_buoi">
            <select class="dropdown-select" name="buoi" id="buoi">
                @*danh sách các buổi của lớp đó*@
            </select>
        </div>
        <button type="submit">Thay đổi</button>
    </form>
</div>
<hr />
@*Thông tin giáo viên lên lớp*@
<table class="table table-striped" id="detail" style="display:none">
    <thead>
        <tr>
            <td>Giáo viên lên lớp</td>
            <td>Điện thoại</td>
        </tr>
    </thead>
    <tbody id="GV"></tbody> @*tbody rỗng để data từ Ajax chạy vào*@
</table>
@*Danh sách học viên*@
<table class="table table-striped" id="listHS" style="display:none">
    <thead>
        <tr>
            <td>Họ và Tên</td>
            <td>Điện thoại</td>
            <td>Điểm danh</td>
            <td>Nhận xét của giáo viên</td>
            <td>BTVN</td>
        </tr>
    </thead>
    <tbody id="HS"></tbody> @*tbody rỗng để data từ Ajax học viên chạy vào*@
</table>
@Html.AntiForgeryToken()
<div id="result" class="row">
    @*data từ Ajax giáo viên chạy vào*@
</div>
@*Ajax load danh sách buổi*@
<section>
    <script>
        $('#lop').change(function () {
            $("#listHS").attr("Style", "display:none");
            $("#detail").attr("Style", "display:none");
            var malop = $('#lop').val();
            if (malop != "Chọn lớp") {
                $("div#lbl_buoi").attr("Style", "display:block");
                $("div#select_buoi").attr("Style", "display:block");
                $("select#buoi").html(""); //xoa noi dung
                $("<option/>").html("Chọn buổi học").appendTo("select#buoi");
                $.ajax({
                    url: "/BUOI_HOC/LoadBuoi",
                    data: { id: malop },
                    dataType: "Json",
                    type: "GET",
                    success: function (response) {
                        $(response).each
                            (
                            function (i, e) { //duyet mang doi tuong
                                if (malop == e.malop) {
                                    $("<option value='" + e.mabuoi + "'/>").html("Buổi " + e.sttbuoi + " Ngày " + e.thoigian)
                                        .appendTo("select#buoi");
                                }
                            });
                    }
                });
            }
            else {
                $("div#lbl_buoi").attr("Style", "display:none");
                $("div#select_buoi").attr("Style", "display:none");
            }
        });
    </script>
</section>
@*Ajax load thông tin học sinh - giáo viên của buổi học*@
<section>
    <script>
        $('#buoi').change(function () {
            $("tbody#HS").html(""); //xoa noi dung
            $("tbody#GV").html(""); //xoa noi dung
            var mabuoi = $('#buoi').val();
            var malop = $('#lop').val();
            if (mabuoi != "Chọn buổi học") {
                $("#listHS").attr("Style", "display:block");
                $("#detail").attr("Style", "display:block");
                //Ajax học sinh
                $.ajax({
                    url: "/BUOI_HOC/Load_CTBuoi",
                    data: { id: mabuoi },
                    dataType: "Json",
                    type: "GET",
                    success: function (response) {
                        $(response).each
                            (
                            function (i, e) { //duyet mang doi tuong
                                var tr = $("<tr/>");
                                $("<td/>").html(e.hoten).appendTo(tr);//bo sung <td> vao <tr>
                                $("<td/>").html(e.dienthoai).appendTo(tr);//bo sung <td> vao <tr>
                                if (e.diemdanhhs) {
                                    $("<td/>").html("Có").appendTo(tr);
                                }
                                else {
                                    $("<td/>").html("Vắng vì " + e.lido).appendTo(tr);
                                }
                                $("<td/>").html(e.nhanxetgv).appendTo(tr);
                                $("<td/>").html(e.btvn).appendTo(tr);
                                tr.appendTo("tbody#HS");// bo sung <tr> vao <tbody>
                            });
                    }
                });
                //=================================================================
                //Ajax giáo viên
                $.ajax({
                    url: "/BUOI_HOC/LoadBuoi",
                    data: { id: mabuoi },
                    dataType: "Json",
                    type: "GET",
                    success: function (response) {
                        $(response).each
                            (
                            function (i, e) { //duyet mang doi tuong
                                if (malop == e.malop) {
                                    var tr = $("<tr/>");
                                    $("<td/>").html(e.hoten).appendTo(tr);//bo sung <td> vao <tr>
                                    $("<td/>").html(e.sdt).appendTo(tr);//bo sung <td> vao <tr>
                                    $("<div/>").add("<input type='hidden' value='" + e.magv + "'/>").appendTo(tr);
                                    tr.appendTo("tbody#GV");
                                }
                            });
                    }
                });
            }
            else {
                $("#listHS").attr("Style", "display:none");
                $("#detail").attr("Style", "display:none");
            }
        });
    </script>
</section>
