@model TrungTam.Areas.Admin.Models.HOA_DON

@{
    /**/

    ViewBag.Title = "Create";
    var id = Session["ID"];
    if (id.ToString().First().Equals('9'))
    {
        Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_layout_vanphong.cshtml";
    }
    var nam = DateTime.Now.Year;
}
@Html.AntiForgeryToken();
<form action="/HOA_DON/Create" method="post">
    <center><h2>Bảng lương tạm thời</h2></center>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text bg-primary text-white" for="inputGroupSelect01">Chọn tháng</label>
        </div>
        <select class="custom-select" name="thang" id="thang">
            <option value="0"> Chọn tháng cần tính lương </option>
            @for (int item = 1; item < 13; item++)
            {
                <option value="@item"> @item </option>
            }
        </select>
        <div class="input-group-prepend">
            <input class="input-group-text bg-primary text-white" for="inputGroupSelect01" id="nam" name="nam" value="@nam" />
        </div>
    </div>
    @*<center>
            <button type="button" class="btn btn-primary" id="ok" name="ok">Xác nhận</button>
    </center>*@
    <hr/>
        <table class="table table-bordered table-hover" id="ds">
            <thead class="text-center bg-primary text-white">
                <tr>
                    <td>STT</td>
                    <td>Họ và Tên</td>
                    <td>Điện thoại</td>
                    <td>Thời gian</td>
                    <td>Tổng tiền</td>
                    <td><em class="fa fa-cog"></em></td>
                </tr>
            </thead>
            <tbody id="list" class="text-center">
                @*tbody rỗng để data từ Ajax lương chạy vào*@
            </tbody>
        </table>
        <center>
            <button type="submit" class="btn btn-primary" name="save" id="save"><i class="fa fa-save mr-2"></i>Lưu</button>
            <a href="~/Admin/HOA_DON/Index" class="btn btn-warning">Quay lại</a>
        </center>
</form>
@*Load tổng lương tạm thời*@
<section>
    <script>
        $('#thang').change(function () {
            var thang = $("#thang").val();
            var stt = 0;
            var thangnam = $("#thang").val() + "_" + $("#nam").val();
            if (thang != "0") {
                $.ajax({
                    url: "/HOA_DON/loadluong",
                    data: {id: thangnam},
                    dataType: "Json",
                    type: "GET",
                    success: function (response) {
                        $('tbody#list').html("");
                        $("#save").show();
                        $(response).each
                            (
                            function (i, e) { //duyet mang doi tuong
                                console.log(e);
                                stt += 1;
                                var tr = $("<tr/>");
                                $("<td/>").html(stt).appendTo(tr);
                                $("<td/>").html(e.hoten).appendTo(tr);
                                $("<td/>").html(e.sdt).appendTo(tr);
                                $("<td/>").html(e.thoigian).appendTo(tr);
                                $("<td/>").html(e.luong).appendTo(tr);
                                $("<td/>").html("<a href='chitiet_tinhluong/" + e.magv + "_" + thangnam +
                                "' class='btn btn-primary'>Chi tiết</a>").appendTo(tr);
                                tr.appendTo('tbody#list');
                            });
                    }
                });
            }
            else {
                $('tbody#list').html("");
                $("#save").hide();
            }
        })
    </script>
</section>
@*ẩn hiện nút SAVE*@
<section>
    <script>
        window.onload = function () {
            do_validate();
        };
        function do_validate() {
            $("#save").hide();
        };
    </script>
</section>
