@model TrungTam.Areas.Admin.Models.LOAI_LOP

@{
    ViewBag.Title = "Details";
    var id = Session["ID"];
    if (id.ToString().First().Equals('9'))
    {
        Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_layout_vanphong.cshtml";
    }

<h2>Details</h2>

<div>
    <h4>LOAI_LOP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TEN_LOAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_LOAI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MA_LOAI }) |
    @Html.ActionLink("Back to List", "Index")
</p>
