*{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: 600px;
    box-sizing: border-box;
    
}
.header{
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 10;
    color: white;
    
    
}
.btn_menu{
    background-color: #fff;
    color: #024476;
    border: 1px solid #024476;
}
.mynav{
    background-color: white;
    text-align: center;
}
.btngt{
    background-color: #024476;
    color: white;
    border: 0;
}
/* .header .header_contact span .header_contact i{
    font-size: 13px;
    color: white;
} */
/* .header .header_contact span{
    font-weight: bold;

} */
/* navbar */
.content_text{
    background-color: #024476;
    user-select: none;
    cursor: pointer;
    padding: 0 22px;
    box-sizing: border-box;
    height: 60px;
    line-height: 1px;
    border-radius: 30px;
    font-family: Roboto,sans-serif;
    font-weight: normal;
    font-size: 1rem;
   color: #efefef;
    text-align: center;
    /* background-color: #bb141a; */
    display: inline-block;
    -webkit-transition: all .1s cubic-bezier(.68,0,.265,1);
    -o-transition: all .1s cubic-bezier(.68,0,.265,1);
    transition: all .1s 
}
.content_text:hover{
    background: sienna;
    color: #024476;
    border: 1px solid #024476;
}
.collapse{
    text-align: justify;
}
#navbarSupportedContent .nav-item{
    position: relative;
   padding: 4px;
}
#navbarSupportedContent .nav-item .nav-link{
    color: #024476;
}
#navbarSupportedContent .nav-item::before{
  position: absolute;
  content: '';
  width: 0;
  height: 3px;
  
  transition:all 0.5s;
  background: linear-gradient(to right,#e6d9c7,#024476);
  bottom: 0px;
  left: 0px;
  -webkit-transition:all 0.5s;
  -moz-transition:all 0.5s;
  -ms-transition:all 0.5s;
  -o-transition:all 0.5s;
}
#navbarSupportedContent .nav-item:hover::before , #navbarSupportedContent .nav-item.active::before{
width: 100%;

}
/* modal */
.mymodal{
    display: initial;
    text-align: center;
}
/* carousel */
/* .myCarousel .carousel_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.5));
} */
.myCarousel .carousel_caption{
    position: absolute;
    top: 50%;
    left: 12%;
    width: 60%;
    
}
.carousel_caption p:first-child , .movie_showtime{
    color: #fbbd61;
    font-size: 14px;
    letter-spacing: 2px;
}
.myCarousel .carousel_caption h1{
    color: white;
}
.carousel_caption p:nth-child(3)
{
    color: white;
    margin-bottom: 1rem;

}


.myCarousel .carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    /* trong suốt */
    background-color: transparent;
    border: 1px solid white;
}
.myCarousel .carousel-indicators .active{
    background-color: white;
}
.myCarousel .carousel-indicators{
    justify-content: start;
    bottom: 50px;
}
/* encarousel */
/* gioithieu */
.Gioithieu{
    /* text-align: right; */
} 
.content_text_gt{
    border-right: 1px; 
    font-size: 16px;

}
.gt_detitle{
    color: #024476;
}
.btnXT{
    background-color: #024476;
    user-select: none;
    cursor: pointer;
    padding: 0 22px;
    box-sizing: border-box;
    height: 60px;
    line-height: 1px;
    border-radius: 30px;
    font-family: Roboto,sans-serif;
    font-weight: normal;
    font-size: 1rem;
   color: #efefef;
    text-align: center;
    /* background-color: #bb141a; */
    display: inline-block;
    -webkit-transition: all .1s cubic-bezier(.68,0,.265,1);
    -o-transition: all .1s cubic-bezier(.68,0,.265,1);
    transition: all .1s 
}
.btnXT:hover{
    background: #fff;
    color: #024476;
    border: 1px solid #024476;
}
/* môn học */
.MonHoc{
    text-align: center !important;
}
.monhoc_icon i{
    font-size: 66px;
    margin: 3px;
    margin-bottom: 7px;
    padding-bottom: 5px;
    color: #024476;
}
.monhoc_detaitle{
    color: gold;
    /* margin-top: 5px; */
    margin-bottom: 2px;
}
.monhoc_content
{
    padding: 0 25px;
    color: #000;
    background: #efefef;
    box-shadow: 0px 0px 10px #cecece;
    border: 1.5px solid #fbbd61;
    
}
.monhoc_content:hover
{
    /* padding: 0 25px;
    color: #000;
    background: #efefef;
    box-shadow: 0px 0px 10px #cecece; */
    border: 0;
    cursor: pointer;
    
}
.tieude{
    color: #024476;
}
.XT{
    color: #024476;
}
/* mohinh */
.MoHinh{
    text-align:center !important;
    background-image: url(../img/nen1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 550px; */
    color: white;
}
.MoHinh h4{
    color: #fbbd61;
}
.MoHinh:hover{
    cursor: pointer;
}
.owl-prev .owl-next{
    font-size: 26px;

}
.KhuyenMai{
    text-align: right;
    /* background-image: url(../img/sale.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.KhuyenMai h5{
    color: #024476;
}
.KhuyenMai h2{
/* background: #fbbd61; */
color: red;
font-weight: bold;
/* background: #fbbd61; */
}
.KhuyenMai .col-12{
    /* background-color: #cecece; */
    /* border: 1px solid #024476; */
    /* background:rgb(165, 243, 243); */
    /* color: #fbbd61; */
}
.KhuyenMai span{
    color: blue;
    /* background: #024476; */
    font-size: 28px;
    font-weight: bold;
}
.KhuyenMai h5 span{
    color: #fbbd61;
    background: #024476;
    font-size: 26px;
    padding: 1px;
    margin: 1px;
}
/* thuvien */
.thuvien{
    background-color: aliceblue;
    text-align: center;
}
/* diachi */
.diachi{
    /* background-color: #fbbd61; */
    text-align: center;
}
.content_dangki i{
color: #024476;
}
.diachi .form_dk{
    background-color: #fbbd61;
    /* border-radius:2%;
    -webkit-border-radius:2%;
    -moz-border-radius:2%;
    -ms-border-radius:2%;
    -o-border-radius:2%; */
}
.bando{
    /* border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
    padding: 0; */
    border: 1px solid #024476;
}
/* footer */
.footer{
   
    /* background-image: url(../img/footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px; */
    background-color: #024476;
    color: white;
}
.footer_panel{
    position: relative;
}
.footer_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left,rgba(0,0,0,0),rgba(0,0,0,0.7)); 
}
.footer a{
    color: white;
}
.footer a:hover{
  /* border: 1px solid white; */
  /* background-color: #fbbd61; */
  color: #fbbd61;
}
.footer h4{
    color: #fbbd61;
}
.Design{
    background-color: #fbbd61;
    color: #024476;
    text-align: center;
}
/* .movie .movie_title{
    font-size: 18px;
    color: crimson;
    border-bottom: 1px solid rgb(0,0,0.5);
    padding-bottom: 15px;
    margin-bottom: 30px;
    position: relative;
    
}
.movie .movie_title::before{
    position: absolute;
    content: '';
    width: 11%;
    height: 3px;
    
    transition:all 0.5s;
    background: linear-gradient(to right,#fbbd61,#ec7532);
    bottom: 0px;
    left: 0px;
    -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -ms-transition:all 0.5s;
    -o-transition:all 0.5s;
}
.movie .movie_item{
   
    overflow: hidden;
    border-radius: 10px;;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;

}
.movie_item .movie_overlay{
    width: 225%;
    height: 100%;
    background:  linear-gradient(to right,#fbbd61,#ec7532);
    position: absolute;
    top: 0;
    left: -288%;
    transform: skew(45deg);
   
    -webkit-transform: skew(45deg);
    -moz-transform: skew(45deg);
    -ms-transform: skew(45deg);
    -o-transform: skew(45deg);
    transition :all 0.5s;
    -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -ms-transition:all 0.5s;
    -o-transition:all 0.5s;
}
.movie_item:hover .movie_overlay{
    left: -63%;
}
.movie .movie_release{
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  opacity: 0;
  transform:scale(0.8);
  transition: all 0.9s;
  -webkit-transition: all 0.9s;
  -moz-transition: all 0.9s;
  -ms-transition: all 0.9s;
  -o-transition: all 0.9s;
  -webkit-transform:scale(0.8);
  -moz-transform:scale(0.8);
  -ms-transform:scale(0.8);
  -o-transform:scale(0.8);
}
.movie_release i{
    font-size: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid white;
    display: block;
    margin: auto;
    line-height: 60px;
    margin-bottom: 10px;
}
.movie_item:hover .movie_release{
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.movie .movie_rating
{
    color: yellow;
}
.showtime .nav-item .nav-link{
    border: none;
    background-color: transparent;
    color: black;
    padding-bottom: 15px;
}
.showtime .nav-item{
    position: relative;
}
.showtime .nav-link::before{
    content: '';
    width: 0;
    height: 2px;;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right,#fbbd61,#ec7532);
}
 .showtime .nav-link:hover::before ,.showtime .nav-item .nav-link.active::before{
     width: 100%;
 }
 .showtime p:first-child{
     margin: 0;
 }
 .movie_showtime h4{
     font-weight: 300;
     letter-spacing: 2px;
 }
 .movie_showtime a{
     font-size: 12px;
     color: #ec7532;
     letter-spacing: 2px;
 }
 .viewing{
     align-items: center;
 }
 .viewing .viewing span{
     
     margin-right: 8px;
     display: inline-block;
 }
 .viewing >p >span{
     color: white;
     width: 40px;
     height: 40px;
     background-color: black;
     display: inline-block;
     border-radius: 50%; ;
     -webkit-border-radius: 50% ;
     -moz-border-radius: 50% ;
     -ms-border-radius: 50% ;
     -o-border-radius: 50% ;
     text-align: center;
     line-height: 40px;
}
.coming{
    position: relative;
    background-color: black;
    color: white;
   
    
}
.coming .coming_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/slide-3.png);
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
 .coming .coming_inforp:first-child{
     color: #ec7532;
     font-size: 13px;
     margin-bottom: 0;
 }
 .coming .coming_content >h1{
     font-size: 13px;
 }
 .coming_rating i{
color: yellow;
 }
 .coming_rating i:nth-child(6){
     color: white;
     margin: 0 8px;
 }
 .video_play{
     font-size: 20px;
     width: 50px;
     height: 50px;;
 } */